POSTGRES_APP_PASSWORD=change-me-postgres-app
POSTGRES_KEYCLOAK_PASSWORD=change-me-postgres-keycloak

SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-app:5432/timetable
SPRING_DATASOURCE_USERNAME=timetable
SPRING_DATASOURCE_PASSWORD=change-me-postgres-app

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=change-me-admin-password
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=timetable-realm
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/timetable-realm
KEYCLOAK_TOKEN_URL=http://keycloak:8080/realms/timetable-realm/protocol/openid-connect/token
KEYCLOAK_CLIENT_ID=timetable-backend
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin-password

VITE_API_BASE_URL=http://localhost:8000/api
VITE_KEYCLOAK_URL=http://localhost:8181
VITE_KEYCLOAK_REALM=timetable-realm
VITE_KEYCLOAK_CLIENT_ID=timetable-backend
VITE_AUTH_STORAGE_KEY=timetable_auth
